<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读取图片（后面发帖上传图片会用） -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Android12以下兼容 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeInfoGap">
        <activity
            android:name=".activity.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailActivity"
            android:exported="false"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.MyPostActivity"
            android:exported="false"
            android:parentActivityName=".activity.MyActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PostActivity"
            android:exported="false"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyActivity"
            android:exported="false" />
        <activity android:name=".activity.ImageActivity"/>
    </application>

</manifest>